doctype html

html
	head
		title= "Participant List"
		link(rel='stylesheet', href='/stylesheets/participant.css')
	body
		nav.navbar.navbar-inverse
			.container.animated.fadeInUp
			.jumbotron
				<img src="images/banner2.png" class="img-responsive">
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li 
							a(href='/participants')
								span.glyphicon.glyphicon-th-list
								|  Participants	
						li
							a(href='/venues')
								span.glyphicon.glyphicon-home
								|  Venues													
						li
							a(href='/meetings')
								span.glyphicon.glyphicon-bullhorn
								|  Meetings
						li
							a(href='/facilitators')
								span.glyphicon.glyphicon-user
								|  Facilitators								
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle="dropdown")
								|  Reports
								b.caret
							ul.dropdown-menu
								li
									a(href='/report1') Report-1
								li
									a(href='/report2') Report-2
								li
									a(href='/report3') Report-3
								li
									a(href='/report4') Report-4	
						li
							a(href="/helloworld")
								span.glyphicon.glyphicon-globe
								|  Hello World												
		h2 Participant List	
		table.hovertable
			tr 
				th Participant ID
				th First Name
				th Last Name
				th Short Name
				th Organization Name				
				th Email
				th FY
				th Dietary Needs
				th Team Name					
				for participant in participants		
					tr.hovertable(onmouseover="this.style.backgroundColor='lightgray';" onmouseout="this.style.backgroundColor='white';")
						td
							a(href="/participants?id=#{participant.participantid}") #{participant.participantid}
						td= participant.firstname
						td= participant.lastname
						td= participant.shortname
						td= participant.organizationname						
						td= participant.emailaddress
						td= participant.fy
						td= participant.dietaryneeds
						td= participant.teamletter + participant.teamcolor
	script(src='/javascripts/jquery-2.0.3.min.js')
	script(src='/javascripts/bootstrap.min.js')



